.idea/
dist/
build/
__pycache__/
chilife.egg-info/
.ipynb_checkpoints
src/chilife/data/rotamer_libraries/user_rotlibs/convert_drotlibs.py
src/chilife/data/rotamer_libraries/user_rotlibs/convert_rotlibs.py
examples/**/*_rotlib.npz
docs/build
docs/make.bat
docs/Makefile
