.idea/
dist/
build/
__pycache__/
chilife.egg-info/
.ipynb_checkpoints
scripts/
chilife/data/rotamer_libraries/user_rotlibs/convert_drotlibs.py
chilife/data/rotamer_libraries/user_rotlibs/convert_rotlibs.py
examples/**/*_rotlib.npz
